@import "/home/phase/.cache/wal/colors-custom-gtk3.css";

window {
	font-size: 13px;
	font-family: CaskaydiaCoveNerdFont, monospace;
	background-color: @color2;
	color: @foreground;
}

#entry:selected {
	background-color: @color1;
	border: none;
    border-radius: 10px;
}

#text:selected {
	color: @foreground;
}

#input {
	background-color: @background;
	border-radius: 10px;
	box-shadow: none;
    border: none;
	color: @foreground;
}

image {
	margin: 0 .25em;
}
