@import "/home/phase/.cache/wal/colors-custom-gtk3.css";

window {
	font-size: 13px;
	font-family: CaskaydiaCoveNerdFont, monospace;
	background-color: @color2;
	color: @foreground;
	border: 2px solid @foreground;
}

#entry:selected {
	background-color: @color1;
	border-right: 2px solid @foreground;
	border-left: 2px solid @foreground;
	border-top: none;
}

#text:selected {
	color: @foreground;
}

#input {
	background-color: @background;
	border-top: 2px solid @foreground;
	border-right: 2px solid @foreground;
	border-left: 2px solid @foreground;
	border-bottom: none;
	border-radius: 0;
	box-shadow: none;
	color: @foreground;
}

image {
	margin: 0 .25em;
}
